td {

    width: 20px;
    height: 20px;
    align-content: center;
  }

  .btnDelete{
    cursor: pointer;
  }

  .container{
    padding: 10px;
  }

  .cell {
    cursor: pointer;
    display: block;
    padding-top: 4px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #E8E8E8;
  }
  
  .slctcell {
    cursor: pointer;
    display: block;
    padding-top: 4px;
    padding-bottom: 2px;
    text-align: center;
  
    border-radius: 10px;
  
    background-color: #98FB98;
  }
  
  
  
  #smtWord {
    padding-top: 30px;
  }
  